.header__logo {
  max-width: 176px;
  width: 100%;
  min-height: 52px;
  background:center / contain no-repeat url(../../../image/header-logo.svg);
}

@media screen and (max-width: 480px) {
  .header__logo {
    max-width: 144px;

  }
}
