.place__paragraphs {
  grid-area: paragraphs;
}

@media screen and (max-width: 576px) {
  .place__paragraphs {
    padding: 0 24px;
  }

}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    padding: 30px 16px 0;
  }
}
