.intro__container {
  display: flex;
  flex-direction: column;
  padding:  92px max(48px, (100% - 984px)/2);

}

@media screen and (max-width: 768px) {
  .intro__container {
    padding:  0 calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
    margin: 89px auto;
  }

}

@media screen and (max-width: 576px) {
  .intro__container {
    padding: 0 calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    margin: 66px auto 63px;
  }

}
