.place__paragraph {
  font-size: 18px;
  line-height: 29.3px;
  margin: 0;
}

.place__paragraph:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: calc(16px + (18 - 16) * ((100vw - 768px) / (1024 - 768)));
    line-height: calc(26px + (29 - 26) * ((100vw - 768px) / (1024 - 768)));
    }

}

@media screen and (max-width: 768px) {
  .place__paragraph {
  font-size: 16px;
  line-height: 26px;
  }

}
